/*Global properties*/
:root{
	--sidebar-width: 200px;
	--button-height: 45px;
	--header-font-size: 25px;
	--button-font-size: 16px;
	--border-grey: BDC3C7;
}

/*The header*/
.header{
	position: static;
	width: 100%;
	min-height: var(--button-height);
	z-index: 2;
	top: 0;
	border-style: solid none solid none;
	border-color: var(--border-grey);
	background-color: #FFF; /* Black */
	/*font-family: "Verdana", sans-serif;*/
	font-size: var(--header-font-size);
  color: #626567;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--sidebar-width); /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll), position relative to heading*/
  z-index: 1; /* Stay on top */
  top: auto ; /* Stay at the top */
  left: 0;
  background-color: #ECECEC;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 30px;
  border-style: none solid none none;
  border-color: var(--border-grey);
  float: left;
}

/* Style page content */
.main {
  margin-left: var(--sidebar-width); /* Same as the width of the sidebar */
  margin-top: 0px;
  padding: 0px 10px;
  float: right;
}

.code {
	display:block;
	font-family: "Courier New", monospace;
  font-size: 0.85em;
  background-color: #F5F5F5;
  background-clip: content-box;
}

.inlineCode {
	font-family: "Courier New", monospace;
	font-size: 0.85em;
  background-color: #F5F5F5;
  background-clip: content-box;
}

li {
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

span {
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 10;
}

.link {
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 10;
}

p {
	display:block;
}

.btn-group, .HDID{
	padding-left: 15px;
}

.btn-group button {
  background-color: #FFFFFF; /* Green background */
  border: 1px solid grey; /* Green border */
  color: black; /* text */
  padding: 6px 8px 6px 8px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
  width: var(--sidebar-width);
  height: var(--button-height);
  font-size: var(--button-font-size);
}

.activeButton {
	background-color: skyblue !important;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: 1B4F72 ;
}

.HDID button {
  background-color: #0082FF; /* Green background */
  border: 1px solid blue; /* Green border */
  color: white; /* White text */
  padding: 6px 8px 6px 16px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
  width: var(--sidebar-width);
  height: var(--button-height);
  font-size: var(--button-font-size);
}

.HDID button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.HDID button:hover {
  background-color: blue;
}

.answerBox{
	width:20%;
	height: var(--button-height);
	font-family: "Verdana", sans-serif;
	font-size: 18px;
}

.outr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 10px;

}

.checkpoint{
	background-color: 44C173;
	border-color: green;
	border-style: solid solid solid solid;
	border-radius: 10px;
	padding: 10px;
}

.endcheckpoint{
	background-color: 44C173;

}

.selectPane{
	border-style: none solid none none;
}

.correct{
	border-style:solid;
	border-color:green;
}

.red{
	border-style:solid;
	border-color:red;
}

.noCheck{
	border-style: solid;
	border-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  margin: 10px 0; 
  color: #161718;}

h1 {
  font-size: 180%;
  padding-top: 10px; 
  border-bottom: 4px solid #005581; 
  padding-bottom:4px; 
  margin-top:15px; 
  margin-bottom:15px;
  font-weight: 600;
  }

h2 {
  font-size: 150%;
  padding:10px;
  margin-top:5px; 
  background: #005581; 
  color: #FFF;
  }

h3 {
  font-size: 140%; 
  padding-top: 10px; 
  border-bottom: 2px solid #000; 
  padding-bottom:5px; 
  margin-bottom:5px;
  }

h4 {
  font-size: 120%;
  margin-bottom:5px;  }

.copyright {
  color: #717171; }

img, video {
    display: block;
    margin-left: auto;
    margin-right: auto }
