.pageBlock {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* line-height: 1.5;  */
  background-color: #f5f5f5;
  border: 2px solid black;
}

.pageInputText {
  padding: 15px 12px;
  margin-top: 5px;
  /* margin-bottom: 10px; */
  /* line-height: 1.5; */
  background-color: white;
  border: 2px solid black;
  /* min-width: 100em; */
  /* max-width: 71%; */
  /* border-top: 0px solid black; */
}

.outputText {
  padding: 15px 12px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  /* line-height: 1.5; */
  background-color: white;
  border: 2px solid black;
  /* border-top: 0px solid black; */
}

.outputLabel {
  /* margin-top: 100px; */
  /* color:  */
  font-size: 25px;
  padding-right: 10px;
  /* height: 30px; */
  /* font-family: "Helvetica Neue", sans-serif; */
  font-weight: 800;
  /* border: 1px solid black; */
  /* text-transform: ; */
  margin-top: 100px;
}

.outputTop {
  background-color: #ffd54f;
  padding: 15px 12px;
  border: 2px solid black;
}

/* .output button {
  background-color: #4caf50;
  border: none;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
}

.output button:hover {
  background-color: green;
} */

.menuItems ul li {
  display: inline-block;
  text-align: center;
}

form {
  /* left: 70%; */
  /* padding: 10px; */
  display: inline-block;
  border: 2px solid black;
  /* text-align: left; */
  /* margin: auto; */
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 10px;
}

/* .leftContent {
  max-width: 1000px;
  min-width: 500px;
} */

.editor {
  display: grid;
  /* grid-template-columns: 2fr 1fr;*/
  grid-template-columns: minmax(800px, 60%) 250px;
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.variableMenu {
  border: 2px solid black;
  margin-top: 10px;
  padding: 10px;
  /* max-width: 350px;
  min-width: 200px; */
  /* text-align: center; */
}

.menuBar {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* line-height: 1.5;  */
  background-color: #f5f5f5;
  border: 2px solid black;
}

.menuItems {
  /* padding: 15px 12px; */
  margin-top: 5px;
  /* margin-bottom: 10px; */
  /* line-height: 1.5; */
  background-color: white;
  border: 2px solid black;
  /* border-top: 0px solid black; */
}

.variables {
  border: 2px solid black;
  /* margin: 5px; */
  padding: 15px 12px;
  margin-top: 20px;
}

/* .h1 {
  font-size: 50px;
}

.normal {
  font-size: 16px;
} */

.variableButtons ul li {
  display: block;
}
