{% load static %}

<html>
<head>
	<!-- Mathjax: -->
	<script>
		MathJax = {
		  tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']]
		  },
		  svg: {
			fontCache: 'global'
		  },
		  startup: {
			typeset: false
		  }
		};
</script>
	<script id="MathJax-script"
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>
	
	<!-- End of MathJax -->
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/kleinStyle.css' %}">
</head>
<body style ="overflow-y: auto;">
<div id="header" class="header"></div>
<div id="contentPlace" class="main"></div>
	<div class ="sidebar">
		<div  class="btn-group" id="selectRow"></div>
		<div class="HDID" id = "HDID"></div> <!--How did I do (HDID)-->
	</div>
<p>

<script src="{% static 'scripts/answerableComponent.js' %}"></script>
<script src="{% static 'scripts/kleinCore.js' %}"></script>
<script src="{% static 'scripts/math.js' %}"></script>
<script src="{% static 'scripts/checkAnswer.js' %}"></script>
<script>
	let url = "{% static 'BOOKS/Lab_2_ArduinoPower.bk' %}";
	//let url = 'https://learn.uwaterloo.ca/d2l/common/viewFile.d2lfile/Content/637273113418029494/Lab_7_CIntro_base.bk?ou=296412&fid=L2NvbnRlbnQvZW5mb3JjZWQvMjk2NDEyLVNhbmRib3hfTV9TdGFjaG93c2t5L0tldmluX3Rlc3QvQk9PS1MvdGVzdEVkaXRvci5iaw';
	var text2 = {};
	fetch(url).then(res => res.json()).then((out)=>(parseBookFromJSON(out)));

	</script>
</p>
</body>
</html>>